.productsPage {
  padding: 30px 50px 10px 100px;

  display: flex;
  flex-direction: column;

  &__topInfo {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-right: 10px;
  }

  &__count {
    margin-right: 25px;
    font-weight: 700;
    line-height: 100%;
    font-size: 27px;
  }
}
