.productSelect {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__label {
  }

  &__select {
    height: 30px;
    min-width: 200px;
    max-width: 300px;

    background: var(--back-light);
  }
}
