.productSelect {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__label {
    font-weight: 500;
  }

  &__select {
    height: 30px;
    width: 200px;

    background: var(--back-light);

    @media (max-width: 992px) {
      width: 170px;
    }

    @media (max-width: 600px) {
      width: 150px;
    }
  }
}
