.mainLayout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;

  &__content {
    display: grid;
    background: var(--shadow);

    min-height: calc(100vh - 75px);
  }
}
