.addModal {
  padding-top: 20px;

  width: 80%;

  border-radius: 5px;

  position: absolute;
  z-index: 2;

  top: 50px;
  left: 50%;

  transform: translateX(-50%);

  background: var(--back-light);

  @media (max-width: 992px) {
    width: 85%;
  }

  @media (max-width: 600px) {
    width: 85%;

    top: 30px;
  }
}
