.addModal {
  padding-top: 20px;

  width: 50%;

  border-radius: 5px;

  position: absolute;
  z-index: 2;

  top: 150px;
  left: 50%;

  transform: translateX(-50%);

  background: var(--back-light);

  &__formGroup {
    padding: 0 20px;
    margin-bottom: 20px;

    label {
      margin-bottom: 5px;

      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;

      display: block;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 2px solid var(--border);
      border-radius: 4px;

      &:focus {
        border: 2px solid var(--primary);
        outline: none;
      }
    }
  }

  &__error {
    margin-top: 5px;

    font-size: 12px;

    color: var(--danger);
  }

  &__actions {
    padding: 20px 0;
    padding-right: 50px;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 20px;

    background: var(--primary);
    &-button {
      padding: 3px;

      height: 40px;
      width: 150px;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      font-weight: 500;
      text-transform: uppercase;

      border-radius: 10px;
      border: 2px solid transparent;

      &--cancel {
        background: transparent;
        color: var(--back-light);

        &:hover,
        &:active {
          border-color: var(--back-light);
        }
      }

      &--add {
        background: var(--back-light);
        color: var(--primary-dark);

        &:hover,
        &:active {
          border-color: var(--primary-dark);
        }
      }
    }
  }
}
