.orderItem {
  padding: 10px 10px;
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: 1fr 40px 10% auto 100px auto;

  align-items: center;

  background: var(--back-light);
  border-radius: 5px;
  font-size: 14px;

  border: 3px solid transparent;

  gap: 20px;

  transition: box-shadow 0.3s linear;

  &:active,
  &:hover {
    box-shadow: 3px 2px 5px var(--secondary);
  }

  @media (max-width: 992px) {
    grid-template-columns: 1fr 30px 10px 70px auto;
  }

  @media (max-width: 600px) {
    gap: 5px;
    grid-template-columns: 1fr auto;

    grid-template-rpws: 1fr 1fr;
  }

  &--shortForm {
    grid-template-columns: 40px auto 100px;
    gap: 10px;

    @media (max-width: 992px) {
      gap: 10px;
      grid-template-columns: 30px 20px;
    }
  }

  &--selected {
    border: 3px solid var(--primary);
    background: transparent;
  }

  &__title {
    margin-bottom: 7px;
    display: inline-block;

    display: flex;
    align-items: center;

    font-weight: 500;
    text-decoration: underline;

    font-size: 14px;
  }

  &__openDetailsButton {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;

    border-radius: 50%;
    background: var(--back-light);
    border: 2px solid var(--secondary);

    transition:
      background-color 0.3s linear,
      border 0.3s linear;

    @media (max-width: 992px) {
      width: 30px;
      height: 30px;
    }

    &:hover,
    &:active {
      background: var(--shadow);
    }
  }

  &__listIcon {
    @media (max-width: 992px) {
      font-size: 20px !important;
    }
  }

  &__productsInfo {
    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
      display: none;
    }

    &--shortForm {
      @media (max-width: 600px) {
        display: flex;
      }

      @media (max-width: 450px) {
        display: none;
      }
    }

    &-count {
      font-weight: 500;
    }

    &-title {
      color: var(--secondary);

      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  &__nameInfo {
    margin-right: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    &-title {
      margin-bottom: 7px;
      font-weight: 500;
      border-bottom: 1px solid var(--secondary);

      font-size: 14px;
    }

    &-specification {
      font-size: 12px;
      color: var(--secondary);
    }
  }

  &__date {
    color: var(--secondary);
    font-weight: 500;
    font-size: 12px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__deleteButton {
    width: 35px;
    height: 35px;

    justify-self: end;
    border-radius: 50%;

    border: none;

    background: transparent;

    transition: background-color 0.3s linear;

    &:hover {
      background-color: var(--shadow);
    }
  }

  &__deleteIcon {
    color: var(--secondary);

    transition:
      color 0.3s linear,
      background-color 0.3s linear;

    &:hover {
      color: var(--danger);
    }

    @media (max-width: 450px) {
      font-size: 20px !important;
    }
  }
}
