:root {
  --primary: #63ab3c;
  --primary-dark: #3a8710;
  --secondary: #908d8d;
  --focus: #1976d2;
  --shadow: #e8e9ea;
  --text: #333;
  --back-light: #fff;
  --active: #c3b712;
  --danger: rgb(212, 34, 34);
  --overlay: rgba(0, 0, 0, 0.5);
}
