:root {
  --primary: #63ab3c;
  --primary-dark: #357413;
  --secondary-color: #f36a6a;
  --shadow: #e8e9ea;
  --border: #908d8d;
  --text: #333;
  --back-light: #fff;
  --back-gray: #efefef;
  --active: #e3d72d;
  --inactive: #1f1f17;
}
