:root {
  --primary: #63ab3c;
  --primary-dark: #357413;
  --secondary-color: #f36a6a;
  --focus: #1976d2;
  --shadow: #e8e9ea;
  --shadow-light: #f6f2f2;
  --border: #908d8d;
  --text: #333;
  --back-light: #fff;
  --back-gray: #efefef;
  --active: #c3b712;
  --inactive: #1f1f17;
  --danger: rgb(212, 34, 34);
  --overlay: rgba(0, 0, 0, 0.5);
}
