%h1 {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  font-size: 32px;
}

h1 {
  @extend %h1;
}

%button {
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-items: center;
}

button {
  @extend %button;
}
