.topMenu {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  font-weight: 500;

  @media (max-width: 992px) {
    font-size: 14px;
  }

  @media (max-width: 450px) {
    grid-column: 1 / 3;
  }

  &__sessionWrapper {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 450px) {
      margin-bottom: 0;
    }
  }

  &__activeSessions {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 600;
    align-self: center;

    &--count {
      margin-left: 5px;
      color: var(--primary);
    }
  }

  &__dateInfo {
    display: flex;
    flex-direction: column;

    font-weight: 600;

    @media (max-width: 450px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }

  &__weekday {
    margin-right: 25px;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__dateWrapper {
    display: flex;
    align-items: center;
  }

  &__date {
    margin-right: 10px;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__timeWrapper {
    display: flex;
    align-items: center;
  }

  &__timeIcon {
    margin-right: 5px;

    font-size: 24px;
    color: var(--primary);
  }

  &__time {
    padding: 2px;
  }
}
