.topMenu {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  font-weight: 500;

  &__activeSessions {
    margin-right: 40px;

    text-transform: uppercase;
    display: flex;
    align-self: flex-start;
    font-weight: 600;

    &--count {
      margin-left: 5px;
      color: var(--primary);
    }
  }

  &__dateInfo {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  &__weekday {
    margin-bottom: 10px;
  }

  &__dateWrapper {
    display: flex;
    align-items: center;
  }

  &__date {
    margin-right: 10px;
  }

  &__timeWrapper {
    display: flex;
    align-items: center;
  }

  &__timeIcon {
    margin-right: 5px;

    font-size: 24px;
    color: var(--primary);
  }

  &__time {
    padding: 2px;
  }
}
