.TopMenu {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-self: flex-end;

  &__weekday {
    margin-bottom: 10px;
  }

  &__dateWrapper {
    display: flex;
    align-items: center;
  }

  &__date {
    margin-right: 10px;
  }

  &__timeWrapper {
    display: flex;
    align-items: center;
  }

  &__timeIcon {
    margin-right: 5px;

    font-size: 24px;
    color: var(--primary);
  }

  &__time {
  }
}
