.closeButton {
  margin-right: 10px;

  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(75%) translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background: var(--back-light);

  color: var(--secondary);
  font-size: 16px;
  box-shadow: 2px 2px 2px 1px rgba(47, 49, 49, 0.2);
  border: none;

  transition:
    color 0.3s linear,
    background-color 0.3s linear;

  &:hover {
    background-color: var(--shadow);
  }

  &:active {
    color: var(--primary-dark);
  }

  @media (max-width: 600px) {
    width: 30px;
    height: 30px;
  }
}
