.deleteModal {
  &__content {
    padding-top: 20px;

    width: 60%;

    border-radius: 5px;

    position: absolute;
    z-index: 2;

    top: 250px;
    left: 50%;

    transform: translateX(-50%);

    background: var(--back-light);

    @media (max-width: 992px) {
      width: 75%;
    }

    @media (max-width: 600px) {
      width: 85%;

      top: 150px;
    }
  }

  &__title {
    margin-bottom: 30px;
    padding: 0 20px;

    @media (max-width: 600px) {
      margin-bottom: 15px;
      padding: 0 10px;

      font-size: 16px;
    }

    @media (max-width: 450px) {
      margin-bottom: 10px;

      font-size: 14px;
    }
  }

  &__emptyList {
    margin-bottom: 20px;
    padding: 0 20px;

    font-size: 14px;
    color: var(--border);
  }

  &__actions {
    padding: 20px 0;
    padding-right: 50px;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 20px;

    background: var(--primary);

    @media (max-width: 767px) {
      padding: 10px 0;
      justify-content: center;
    }

    &-button {
      padding: 3px;

      height: 40px;
      width: 150px;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      font-weight: 500;
      text-transform: uppercase;

      border-radius: 10px;
      border: 2px solid transparent;

      @media (max-width: 767px) {
        width: 100px;
      }

      @media (max-width: 450px) {
        padding: 5px;
        height: 30px;
        width: auto;
      }

      &--cancel {
        background: transparent;
        color: var(--back-light);

        &:hover,
        &:active {
          border-color: var(--back-light);
        }
      }

      &--delete {
        display: flex;
        align-items: center;
        justify-self: center;

        background: var(--back-light);
        color: var(--danger);

        &-binIcon {
          margin-right: 10px;

          color: var(--danger);
          font-size: 20px !important;

          @media (max-width: 450px) {
            margin-right: 4px;
            font-size: 17px !important;
          }
        }

        &-text {
        }

        &:hover,
        &:active {
          border-color: var(--danger);
        }
      }
    }
  }
}
