.sidebar {
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--back-light);

  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: 992px) {
    padding: 10px 5px;
  }

  &__profile {
    margin-bottom: 30px;

    position: relative;

    @media (max-width: 992px) {
      margin-bottom: 15px;
    }

    @media (max-width: 600px) {
      margin-bottom: 10px;
    }

    &-avatar {
      object-fit: cover;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid var(--border);

      @media (max-width: 992px) {
        width: 120px;
        height: 120px;
      }

      @media (max-width: 600px) {
        width: 100px;
        height: 100px;
      }

      @media (max-width: 450px) {
        width: 70px;
        height: 70px;
      }
    }

    &-settings {
      position: absolute;

      bottom: 0;
      left: 75%;

      padding: 5px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
      color: var(--border);
      border: 1px solid var(--border);

      background: var(--back-light);

      @media (max-width: 992px) {
        width: 25px;
        height: 25px;
      }
    }

    &-icon {
      min-height: 20px;

      @media (max-width: 4500px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}
