.search {
  width: 70%;
  display: flex;
  justify-self: flex-start;

  &__input {
    padding: 5px 10px;
    width: 100%;

    background: var(--shadow);

    &::placeholder {
      font-weight: 600;
    }

    border: 2px solid var(--border);
    border-radius: 4px 0px 0px 4px;

    &:hover {
      border: 2px solid var(--focus);
    }

    &:focus {
      border: 2px solid var(--focus);
      outline: none;
    }
  }

  &__button {
    display: flex;
    border-radius: 0px 4px 4px 0px;

    border: 2px solid var(--border);

    &:hover,
    &:active {
      background: var(--primary-dark);
      border: 2px solid var(--focus);
    }
  }

  &__icon {
    color: white;
  }
}
