.notFoundPage {
  margin-top: 20px;
  padding: 0 10px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    color: var(--text);
    text-transform: uppercase;
    font-weight: 900;
  }

  &__message {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  &__img {
    width: 50%;
    margin-bottom: 20px;
  }

  &__linkWrapper {
    display: flex;
    gap: 20px;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__link {
    padding: 5px;
    margin-bottom: 20px;

    font-size: 20px;
    border-radius: 5px;
    color: var(--primary-dark);
    font-weight: 600;
    border: 2px solid var(--primary-dark);

    transition: background-color 0.3s linear;

    &:hover,
    &:active {
      background-color: var(--back-light);
    }
  }
}
