.form {
  &--product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__formGroup {
    padding: 0 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    &--checkbox {
      padding-bottom: 25px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      input {
        height: 25px;
      }
    }

    label {
      margin-bottom: 5px;

      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;

      display: block;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 2px solid var(--border);
      border-radius: 4px;

      &:hover {
        border: 2px solid var(--focus);
      }

      &:focus {
        background: var(--shadow-light);
        border: 2px solid var(--focus);
        outline: none;
      }
    }
  }

  &__select {
    width: 100%;
    height: 40px;
    appearance: none;

    font-family: inherit !important;
    font-size: 14px;

    border: 2px solid var(--border) !important;
    outline: none !important;

    &:hover {
      border: 2px solid var(--focus) !important;
    }

    &:focus {
      background: var(--shadow) !important;
      border: 2px solid var(--focus) !important;
      outline: none !important;
    }
  }

  &__error {
    margin-top: 5px;

    font-size: 12px;

    color: var(--danger);
  }

  &__actions {
    padding: 20px 0;
    padding-right: 50px;
    height: 100%;

    grid-column: 1 / 4;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 20px;

    background: var(--primary);

    &-button {
      padding: 3px;

      height: 40px;
      width: 150px;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      font-weight: 500;
      text-transform: uppercase;

      border-radius: 10px;
      border: 2px solid transparent;

      &--cancel {
        background: transparent;
        color: var(--back-light);

        &:hover,
        &:active {
          border-color: var(--back-light);
        }
      }

      &--add {
        background: var(--back-light);
        color: var(--primary-dark);

        &:hover,
        &:active {
          border-color: var(--primary-dark);
        }
      }
    }
  }
}
